<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>news</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Show error message if there is one -->
<p *ngIf="errorMessage">{{ errorMessage }}</p>


<ion-content *ngIf="newsData.length > 0" [fullscreen]="true">
  <!-- Display news cards if newsData has items -->
  <ion-card *ngFor="let newsItem of newsData" >
    <img *ngIf="newsItem.image_url" [src]="newsItem.image_url" alt="Article: {{newsItem.title}}" style="height: 200px; object-fit: cover;" />
    <ion-card-header>
      <ion-card-title>{{ newsItem.title }}</ion-card-title>
      <ion-card-content>{{newsItem.description}}</ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>

<!-- Display message when no news is available -->
<ion-content *ngIf="newsData.length === 0" [fullscreen]="true">
<ion-card >
  <ion-card-header>
    <ion-card-title>No News Available</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>No news found for {{ countryCode }}</p>
  </ion-card-content>
</ion-card>
</ion-content>